body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #f0f4d0;

    font-family: Arial Rounded MT Bold;
}

h1 {
    color: #000000;
    font-size: 40px;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 50px;
}

h2 {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

a {

    flex-direction: column;
    padding-top: auto;
    margin-top: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(141, 193, 134);
    padding: 15px;
    margin: 30px;
    border-radius: 500px;
    text-decoration: none;
    margin-bottom: auto;
    padding-bottom: auto;
}

div {
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.andrelister {
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

a {
    font-size: 15px;
    color: rgb(63, 214, 63);
    background-color: #f0f4d0;
    border-radius: 500px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    

}

}
